scripts/MemberSearchAPI/EmbeddedResources/MemberAcco/webServices/MemberAcco/original/MemberAcco_0.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s0="http://hp.com/SOAQ/ServiceSimulation/2010/demo/01/Imports" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://hp.com/SOAQ/ServiceSimulation/2010/demo/01" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" name="MemberAccounts" targetNamespace="http://hp.com/SOAQ/ServiceSimulation/2010/demo/01" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema targetNamespace="http://hp.com/SOAQ/ServiceSimulation/2010/demo/01/Imports">
      <s:import schemaLocation="http://dockerclient/ServiceSimulation/Demo/MemberAccountsService?xsd=xsd0" namespace="http://hp.com/SOAQ/ServiceSimulation/2010/demo/01" />
      <s:import schemaLocation="http://dockerclient/ServiceSimulation/Demo/MemberAccountsService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <s:import schemaLocation="http://dockerclient/ServiceSimulation/Demo/MemberAccountsService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HP.SOAQ.ServiceSimulation.Demo" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="IMemberAccounts_memberSearch_InputMessage">
    <wsdl:part name="parameters" element="tns:memberSearch" />
  </wsdl:message>
  <wsdl:message name="IMemberAccounts_memberSearch_OutputMessage">
    <wsdl:part name="parameters" element="tns:memberSearchResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberAccounts_getMemberPlan_InputMessage">
    <wsdl:part name="parameters" element="tns:getMemberPlan" />
  </wsdl:message>
  <wsdl:message name="IMemberAccounts_getMemberPlan_OutputMessage">
    <wsdl:part name="parameters" element="tns:getMemberPlanResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberAccounts_getMemberDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:getMemberDetail" />
  </wsdl:message>
  <wsdl:message name="IMemberAccounts_getMemberDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:getMemberDetailResponse" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="false" name="IMemberAccounts" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract">
    <wsdl:operation name="memberSearch">
      <wsdl:input wsaw:Action="http://hp.com/SOAQ/ServiceSimulation/2010/demo/01/IMemberAccounts/memberSearch" message="tns:IMemberAccounts_memberSearch_InputMessage" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" />
      <wsdl:output wsaw:Action="http://hp.com/SOAQ/ServiceSimulation/2010/demo/01/IMemberAccounts/memberSearchResponse" message="tns:IMemberAccounts_memberSearch_OutputMessage" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" />
    </wsdl:operation>
    <wsdl:operation name="getMemberPlan">
      <wsdl:input wsaw:Action="http://hp.com/SOAQ/ServiceSimulation/2010/demo/01/IMemberAccounts/getMemberPlan" message="tns:IMemberAccounts_getMemberPlan_InputMessage" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" />
      <wsdl:output wsaw:Action="http://hp.com/SOAQ/ServiceSimulation/2010/demo/01/IMemberAccounts/getMemberPlanResponse" message="tns:IMemberAccounts_getMemberPlan_OutputMessage" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" />
    </wsdl:operation>
    <wsdl:operation name="getMemberDetail">
      <wsdl:input wsaw:Action="http://hp.com/SOAQ/ServiceSimulation/2010/demo/01/IMemberAccounts/getMemberDetail" message="tns:IMemberAccounts_getMemberDetail_InputMessage" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" />
      <wsdl:output wsaw:Action="http://hp.com/SOAQ/ServiceSimulation/2010/demo/01/IMemberAccounts/getMemberDetailResponse" message="tns:IMemberAccounts_getMemberDetail_OutputMessage" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMemberAccounts" type="tns:IMemberAccounts">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="memberSearch">
      <soap:operation soapAction="http://hp.com/SOAQ/ServiceSimulation/2010/demo/01/IMemberAccounts/memberSearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMemberPlan">
      <soap:operation soapAction="http://hp.com/SOAQ/ServiceSimulation/2010/demo/01/IMemberAccounts/getMemberPlan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMemberDetail">
      <soap:operation soapAction="http://hp.com/SOAQ/ServiceSimulation/2010/demo/01/IMemberAccounts/getMemberDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MemberAccounts">
    <wsdl:port name="BasicHttpBinding_IMemberAccounts" binding="tns:BasicHttpBinding_IMemberAccounts">
      <soap:address location="http://dockerclient/ServiceSimulation/Demo/MemberAccountsService/MemberAccountsService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>