scripts/MemberSearchAPI/EmbeddedResources/MemberAcco/webServices/MemberAcco/MemberAcco_3.xsd

<?xml version="1.0"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HP.SOAQ.ServiceSimulation.Demo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HP.SOAQ.ServiceSimulation.Demo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ShortName">
    <xs:sequence>
      <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShortName" nillable="true" type="tns:ShortName" />
  <xs:complexType name="ArrayOfMember">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Member" nillable="true" type="tns:Member" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMember" nillable="true" type="tns:ArrayOfMember" />
  <xs:complexType name="Member">
    <xs:sequence>
      <xs:element minOccurs="0" name="householdId" type="xs:long" />
      <xs:element minOccurs="0" name="memberId" type="xs:long" />
      <xs:element minOccurs="0" name="socialSecurityNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Member" nillable="true" type="tns:Member" />
  <xs:complexType name="Plan">
    <xs:sequence>
      <xs:element minOccurs="0" name="approvalLimit" type="xs:float" />
      <xs:element minOccurs="0" name="id" type="xs:long" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Plan" nillable="true" type="tns:Plan" />
  <xs:complexType name="Detail">
    <xs:sequence>
      <xs:element minOccurs="0" name="address" nillable="true" type="tns:Address" />
      <xs:element minOccurs="0" name="householdId" type="xs:long" />
      <xs:element minOccurs="0" name="memberId" type="xs:long" />
      <xs:element minOccurs="0" name="person" nillable="true" type="tns:Person" />
      <xs:element minOccurs="0" name="phone" nillable="true" type="tns:Phone" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Detail" nillable="true" type="tns:Detail" />
  <xs:complexType name="Address">
    <xs:sequence>
      <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="line1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="line2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="state" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="zip" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Address" nillable="true" type="tns:Address" />
  <xs:complexType name="Person">
    <xs:sequence>
      <xs:element minOccurs="0" name="dateOfBirth" type="xs:dateTime" />
      <xs:element minOccurs="0" name="gender" type="tns:Gender" />
      <xs:element minOccurs="0" name="name" nillable="true" type="tns:Name" />
      <xs:element minOccurs="0" name="socialSecurityNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Person" nillable="true" type="tns:Person" />
  <xs:simpleType name="Gender">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MALE" />
      <xs:enumeration value="FEMALE" />
      <xs:enumeration value="UNKNOWN" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Gender" nillable="true" type="tns:Gender" />
  <xs:complexType name="Name">
    <xs:sequence>
      <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="middleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="prefix" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="suffix" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Name" nillable="true" type="tns:Name" />
  <xs:complexType name="Phone">
    <xs:sequence>
      <xs:element minOccurs="0" name="extension" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="phoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="phoneNumberType" type="tns:PhoneNumberType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Phone" nillable="true" type="tns:Phone" />
  <xs:simpleType name="PhoneNumberType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DAY" />
      <xs:enumeration value="EVENING" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PhoneNumberType" nillable="true" type="tns:PhoneNumberType" />
</xs:schema>