scripts/MemberSearchAPI/EmbeddedResources/MemberAcco/webServices/MemberAcco/MemberAcco_1.xsd

<?xml version="1.0"?>
<xs:schema xmlns:tns="http://hp.com/SOAQ/ServiceSimulation/2010/demo/01" elementFormDefault="qualified" targetNamespace="http://hp.com/SOAQ/ServiceSimulation/2010/demo/01" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="MemberAcco_3.xsd" namespace="http://schemas.datacontract.org/2004/07/HP.SOAQ.ServiceSimulation.Demo" />
  <xs:element name="memberSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HP.SOAQ.ServiceSimulation.Demo" minOccurs="0" name="name" nillable="true" type="q1:ShortName" />
        <xs:element minOccurs="0" name="dateOfBirth" type="xs:dateTime" />
        <xs:element minOccurs="0" name="socialSecurityNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="zipCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="memberSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HP.SOAQ.ServiceSimulation.Demo" minOccurs="0" name="memberSearchResult" nillable="true" type="q2:ArrayOfMember" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMemberPlan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memberId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMemberPlanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HP.SOAQ.ServiceSimulation.Demo" minOccurs="0" name="getMemberPlanResult" nillable="true" type="q3:Plan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMemberDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memberId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMemberDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HP.SOAQ.ServiceSimulation.Demo" minOccurs="0" name="getMemberDetailResult" nillable="true" type="q4:Detail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>